table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 45rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
