ion-menu ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.searchbar {
  --background: #eeeeec;
  --border-radius: 70px;
}

ion-range {
  padding: 0 8% 0 6%;
  --knob-background: #5f00d4;
  --bar-background-active: #5f00d4;
}
ion-menu {
  @media (min-width: 576px) {
    max-width: 20% !important;
  }
}
@media (min-width: 576px) {
  ion-header {
    margin-top: 0.5%;
  }
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8f8f8f;
  text-align: center;
  font-size: 14px;
  font-family: "domine";
}

.card {
  height: 100%;
  box-shadow: none;
  //   border-radius: 0;
}
.cropped-image {
  width: 100%;
  height: 337px;
}

.fill-image {
  object-fit: contain;
}
.brandName {
  display: flex;
  justify-content: center;
}
.price {
  text-align: center;
}
.categorynames:hover {
  --ion-item-color: #5f00d4;
  cursor: pointer;
}
