ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-bottom: 20px;
}

// ion-menu.md ion-list#inbox-list {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 10px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
  overflow-y: hidden;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-searchbar {
  --background: #eeeeec;
  --border-radius: 70px;
}
ion-range {
  padding: 0 8% 0 6%;
  --knob-background:#5f00d4;
  --bar-background-active:#5f00d4;
}
ion-menu {
  @media (min-width: 576px) {
    max-width: 20% !important;
  }
}
@media (min-width: 576px) {
  ion-header {
    margin-top: 0.5%;
  }
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #8f8f8f;
  text-align: center;
  font-size: 14px;
  font-family: "domine";
}

.card {
  height: 100%;
  box-shadow: none;
  //   border-radius: 0;
}
.cropped-image {
  width: 100%;
  height: 337px;
}

.fill-image {
  object-fit: fill;
}
.brandName {
  display: flex;
  justify-content: center;
}
.price {
  text-align: center;
}
