.price {
  color: grey;
  font-size: large;
}

@media only screen and (min-width: 700px) {
  .img {
    margin-top: 5%;
    padding: 0 3% 0 5%;
  }
  .buttons{
    width: 49%;
  }
}
.brand {
  font-size: medium;
  font-weight: bold;
}
.heading {
  font-size: x-large;
  font-weight: bold;
}

