.image {
  background-image: linear-gradient(rgba(20, 0, 0, 0.151), rgba(19, 0, 0, 0.144)),
    url(../../../assets/shopimg1.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image-text {
  text-align: left;
  position: absolute;
  font-family: Montserrat, sans-serif;
  bottom: 10%;
  left: 5%;
   // top: 70%;
  // transform: translate(-50%, -50%);
  // color: #1B130D;
}
