.menu {
  --offset-top: 0 !important;
  --offset-bottom: 0px;
  --padding-start: 2rem;
  --padding-end: 2rem;
  --padding-bottom: 0.5rem;
}
.popover {
  --offset-y: -18.5rem;
  --box-shadow: none;
  border-radius: 0;
}

.popover ion-content {
  --ion-background-color: white;
}
.cursor {
  cursor: pointer;
  text-transform: uppercase;
  color: #d1b9b3 !important;
}
.button {
  margin: 0px;
  padding: 0px;
  height: 3rem;
  color: #d1b9b3 !important;
  --background: white;
}
