* {
  color: black;
  --ion-background-color: #fdf9f5;
}

.cart_header {
  display: flex;
  align-items: center;
  height: 5rem;
}

.list {
  gap: 1rem;
  display: grid;
}

.thumbnail {
  width: 115px;
  height: 115px;
}

.cart_product_title {
  line-height: 1.4;
  font-weight: 300;
  font-size: large;
  color: #333029;
}

.subtitles {
  line-height: 1.4;
  font-weight: 300;
  font-size: small;
  color: #333029;
}

.remove {
  font-weight: 300;
  font-size: small;
  color: #333029;
}

.footer_cart {
  font-weight: 300;
  color: #333029;
}

.total_price {
  font-weight: 300;
  color: #333029;
  padding-right: 1rem;
}
.temp {
  font-weight: 300;
  line-height: 26px;
  font-size: small;
  color: #333029;
  text-align: center;
}
.title_buttons {
  font-weight: 300;
  color: black;
  --background: #ffffff;
  --box-shadow: none;
  --border-radius: 40rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}
