.header {
  display: none;
}
@media (min-width: 990px) {
  .header {
    display: contents;
    display: flex;
    background: #fff;
    padding-left: 8.5%;
    padding-right: 8.5%;
    border: #eaeaea 1.5px solid;
  }
  ion-header {
    display: none;
  }
}
ion-row {
  height: 5em;
}
.title {
  letter-spacing: 4px;
  font-weight: bolder;
  color: #5f00d4;
  padding-left: 10%;
  font-size: x-large;
}
.title:hover {
  color: #4e00ad;
  cursor: pointer;
}

.dropdown {
  // width: 136px;
  // height: 150px;
  background: #fff;
  position: absolute;
  top: 4em;
  left: 87px;
  z-index: 1;
  ion-item:hover {
    --ion-item-color: #5f00d4;
    cursor: pointer;
  }
}

ion-button {
  font-size: small;
  font-weight: 600;
}
ion-fab-button {
  margin-left: 5px;
  cursor: pointer;
}
.title2 {
  letter-spacing: 4px;
  font-weight: bolder;
  color: #5f00d4;
  font-size: x-large;
}
.nav {
  display: flex;
}
