ion-header {
  display: none;
}
@media only screen and (min-width: 890px) {
  ion-header {
    display: contents;
  }
  .title {
    letter-spacing: 4px;
    font-weight: bolder;
    color: #5f00d4;
    margin-left: 11%;
    font-size: x-large;
  }
  ion-label {
    padding-right: 50px;
    font-size: medium;
    cursor: pointer;
  }
  ion-label:hover {
    color: #5f00d4;
  }
  .icon {
    font-size: x-large;
    padding-left: 30px;
    --ionicon-stroke-width: 45px;
    cursor: pointer;
  }
  ion-icon:hover {
    color: #5f00d4;
  }
  .nav {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: #eaeaea 1.5px solid;
  }

  .header {
    --min-height: 5em;
  }
  .items {
    display: flex;
    align-items: center;
    padding-right: 16.5%;
  }
  ion-item:hover {
    --ion-item-color: #5f00d4;
    cursor: pointer;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
  }
}
@media only screen and (max-width: 890px) {
  ion-header {
    display: contents;
  }
  .items {
    display: none;
  }
  .title {
    letter-spacing: 4px;
    font-weight: bolder;
    color: #5f00d4;
    font-size: x-large;
  }

  .header {
    --min-height: 4em;
  }
  .nav {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    border-bottom: #eaeaea 1.5px solid;
  }
}
