.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #caafa8;
  font-family: "montserrat", sans-serif;
  justify-content: space-around;
  // justify-content: space-evenly;
}

.dropbtn {
  border: none;
  outline: none;
  margin: 2rem 1.5rem 2rem 1.5rem;
  background-color: inherit;
  color: white;
}
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.underline {
  background-image: linear-gradient(white, white);
  background-size: 0% 0.09rem;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
  padding-bottom: 6.5px;
  background-position: left bottom;
  transition: background-size 0.3s ease;
}

li:hover .underline {
  background-size: 100% 0.09rem;
  padding-bottom: 6.5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #caafa8;
  color: white;
  width: 100%;
  left: 0;
  z-index: 1;
  padding-top: 1.3rem;
  padding-bottom: 1rem;
}

.dropdown-content::content .underline {
  background-size: 100% 0.09rem;
  padding-bottom: 6.5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.grid {
  max-height: 20rem;
  overflow: auto;
  /* hide scrollbar after adding in scss */
}

.logo {
  width: 8rem;
  cursor: pointer;
}
#logo {
  font-size: xxx-large;
  font-size: 3.5rem;
  font-family: "chloe";
  float: left;
  color: white;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 1rem;
  color: white;
  font-size: 28px;
  --ionicon-stroke-width: 1rem;
}
.icons:hover {
  cursor: pointer;
}
.dropunderline {
  background-image: linear-gradient(white, white);
  background-size: 0% 0.09rem;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: x-small;
  letter-spacing: 2px;
  background-position: left bottom;
  transition: background-size 0.4s ease;
}

.list:hover .dropunderline {
  background-size: 100% 0.09rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  .navbar .icons {
    display: none;
  }
  .navbar {
    height: 5rem;
    align-items: center;
  }
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
